body {
    background-color: lightgreen;
    font-family: Arial, sans-serif;
    color: black;
}

.nav {
    background-color: white;
    padding: 10px;
}

.header {
    background-color: lightblue;
    padding: 20px;
}

.section {
    background-color:whitesmoke;
    margin: 15px;
    padding: 15px;
}

h1 {
    color:blanchedalmond;
}

h2 {
    color: navy;
}